/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 180px; }

.affix {
    top: 0;
    width: 100%;
    z-index: 999;
}

.affix + .container-fluid {
    padding-top: 10px;
}
/* Carousel Styling */

.carousel-caption {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 20px;
    width: 98%;
    padding-bottom: 0px;
    margin: 0 0 0 0px;
  }
.changeTypeColor {
  color: #6B3CFA;
}
.slide1{
  background-image: url('../img/carousel/Climbers_Crossing_Crevasse_Mt._rainier.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../img/carousel/Flickr_-_The_U.S._Army_-_Jump_over_Mt._Rainier.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../img/carousel/Mount_Rainier_-_Paradise_-_Dead_Horse_Creek_Trail_-_August_2014_-_01.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide4{
  background-image: url('../img/carousel/Mount_Rainier_-_Paradise_Meadow_in_July_03.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide5{
  background-image: url('../img/carousel/Mount_Rainier_and_lake_reflection.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide6{
  background-image: url('../img/carousel/Mount_Rainier_from_Paradise_meadow,_August_2014_-_03.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide7{
  background-image: url('../img/carousel/Mount_Rainier_sunset_and_clouds.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide8{
  background-image: url('../img/carousel/Nisqually_River_near_Cougar_Rock_01.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  /*background-color: rgba(153, 190, 249, 0.4); */
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  /*padding-bottom: .4em;*/
}
.carousel-caption p{
/*  padding-bottom: 10px;*/
  background-color: rgba(153, 190, 249, 0.4);
  width: 100;
  font-size: 2em;
}
.carousel-indicators {
    bottom: 2px;
  }

  .imgSize {
    height: 20px;
    overflow-y: hidden;
  }
