/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 180px; }


/* Carousel Styling */
.carousel-inner .item .slide2 .carousel-caption {
  color: red;
}
.slide1{
  background-image: url('../img/carousel/Climbers_Crossing_Crevasse_Mt._rainier.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../img/carousel/Flickr_-_The_U.S._Army_-_Jump_over_Mt._Rainier.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../img/carousel/Mount_Rainier_-_Paradise_-_Dead_Horse_Creek_Trail_-_August_2014_-_01.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide4{
  background-image: url('../img/carousel/Mount_Rainier_-_Paradise_Meadow_in_July_03.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide5{
  background-image: url('../img/carousel/Mount_Rainier_and_lake_reflection.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide6{
  background-image: url('../img/carousel/Mount_Rainier_from_Paradise_meadow,_August_2014_-_03.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide7{
  background-image: url('../img/carousel/Mount_Rainier_sunset_and_clouds.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide8{
  background-image: url('../img/carousel/Nisqually_River_near_Cougar_Rock_01.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  /*background-color: rgba(153, 190, 249, 0.4); */
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  /*padding-bottom: .4em;*/
}
.carousel-caption p{
/*  padding-bottom: 10px;*/
  background-color: rgba(153, 190, 249, 0.4);
  width: 100;
  font-size: 2em;
}
.carousel-indicators {
    bottom: 2px;
  }

  /*///////FORBES/////////Flip #3///////////Flip #3///////////////////////////////*/
.flipper3 { /*part of intro*/
	transition: 3s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front3, .back3 { /*part of intro*/
	backface-visibility: hidden;
	position: absolute;
}
/* front pane, placed above back */
.front3 { /*part of intro*/
	z-index: 3;
	/* 	background-color: #B29B90; */
	padding-left: 5px;
	font-size: 1.5em;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back3 { /*part of intro*/
	transform: rotateY(180deg);
	background-color: rgba(174, 188, 244, 0.85);
	padding-left: 5px;
	padding-right: 5px;
}
.both-wrapper3 { /*part of intro*/
	/* 	font-family: "Arial Black" Gadget, sans-serif; */
	height: 62px;
	position: relative;
	left: 30%;
}
/* flip the pane when hovered */
.both3:hover .flipper3, .both3.hover .flipper3 {
	transform: rotateY(180deg);
	top: 100px;
	left: -100%;
}
.both3, .front3 { /*part of intro*/
	/* 	background-color: rgba(154, 171, 241, 0.5);
	width: 40%;*/
	width:100%;
	max-width: 320px;
	/*height: 200px;*/
	padding: 0px 20px 10px 15px;/* lAK*/
}
.both3, .back3 { /*part of intro*/
	text-align:left;
	width: 320px;
	/*height:300px;*/
	font-weight:600;
	/*padding:10px;*/
}
/*///////FORBES/////////Flip #3///////////Flip #3///////////////////////////////*/
